<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderlist">

	<select id="getCheckExist_orderlist" resultType="java.lang.Integer">
		select count(*) from
		orderlist where member_id = #{member_id} and product_id
		= #{product_id}
	</select>

	<select id="getCountNextOrderId_orderlist" resultType="java.lang.Integer">
		select nvl(
		max(order_id)+1, 0 ) from orderlist
	</select>

	<select id="getCountToMyCondition_orderlist" resultType="java.lang.Integer">
		select count(product_id) from orderlist where member_id = #{member_id} and product_id in
		(select product_id from product where condition = #{condition})
	</select>

	<select id="getAll_orderlist" resultType="orderlistVo">
		select * from orderlist
	</select>

	<select id="getMyOrderlistToCondition_orderlist" resultType="orderlistVo">
		select * from orderlist	where member_id = #{member_id} and product_id in
		(select product_id from product where condition = #{condition})
	</select>

	<select id="getAllMyOrder_orderlist" resultType="orderlistVo">
		select * from orderlist
		where member_id = #{member_id}
	</select>

	<insert id="insert_orderlist">
		insert into orderlist values( #{order_id} ,
		#{member_id} , #{product_id} ,
		sysdate , #{rent_start} , null ,
		#{rent_month} )
	</insert>

	<update id="updateRentMonth_orderlist">
		update orderlist set rent_month = #{rent_month} 
		where member_id = #{member_id} and product_id = #{product_id}
	</update>

	<update id="updateRentEnd_orderlist">
		update orderlist set rent_end =
		(select ADD_MONTHS(rent_start, rent_month)
		from orderlist where order_id = #{order_id})
		where order_id = #{order_id}
	</update>

	<delete id="delete_orderlist">
		delete orderlist 
		where member_id = #{member_id} and product_id = #{product_id}
	</delete>

</mapper>