<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<!-- 	<select id="getAll_product" resultType="productVo">
		select * from product where category=#{category} order by product_id desc
	</select> -->
	
	<select id="getAll_product" resultType="productVo">
		${sql}
	</select>
	
	<select id="getAll_productAdmin" resultType="productVo">
		select * from product order by product_id
	</select>

	<select id="getOne_product" resultType="productVo">
		select * from product where product_id=#{product_id}
	</select>
	
 	<select id="getNextId_product" resultType="java.lang.Integer">
		select nvl(max(product_id),0) from product
	</select>
	
	<select id="getCount_product" resultType="java.lang.Integer">
		select count(*) from product
	</select>
	
	<select id="getCutomizeList_product" resultType="productVo">
 		#{sql}
 	</select>
 	
  	<select id="getMySell_product" resultType="productVo">
		select * from product where member_id=#{member_id} order by product_id
	</select>
	
	<select id="getMySellCount_product" resultType="java.lang.Integer">
 		select count(*) from product where member_id = #{member_id}
 	</select>
 	
 	<select id="getMySellCountWithCondition_product" resultType="java.lang.Integer">
 		select count(*) from product where member_id = #{member_id} and condition = #{condition}
 	</select>	

	<select id="getMySellForPaging_product" resultType="productVo">	
		<![CDATA[
		select * from(select rownum a, product_id, condition, product_name, category, quality,member_id,price,main_img,sub_img
		from(select * from product where member_id=#{member_id} order by product_id))
		where a>=#{start} and a<=#{end}]]>
	</select>

	<select id="getAllPublishingCount_product" resultType="java.lang.Integer">
		select nvl(count(*),0) from product where condition='물품게시'
	</select>
	
	<select id="getItemPublishingCount_product" resultType="java.lang.Integer">
		select count(*) from product where item=#{item} and condition='물품게시'
	</select>
	
	<select id="getForAdmin_product" resultType="productVo">
		select product_id, item, product_name, m.member_id, condition, a.address2, quality, price from product p, member m, address a where p.member_id=m.member_id and m.address_id=a.address_id
	</select>
	
	<insert id="insert_product">
		insert into product values(#{product_id},null,#{product_name},#{category},#{quality},0,#{main_img},#{sub_img},#{member_id})
	</insert>

	<update id="update_product">
		update product set product_name=#{product_name}, item=#{item}, quality=#{quality}, main_img=#{main_img}, sub_img=#{sub_img}
	</update>
	
	<update id="updateCondition_product">
		update product set condition=#{condition} where product_id=#{product_id}
	</update>
	
	<update id="updateAdmin_product">
		update product set category = #{category}, product_name =#{product_name}, condition = #{condition}, quality =#{quality}, price = #{price} where product_id =#{product_id}
	</update>
	
	<delete id="delete_product">
		delete product where product_id=#{product_id}
	</delete>
	
	<select id="getCust" resultType="productVo">
		${sql}
	</select>
	
</mapper>
