<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaBoard">
	<select id="getAll_qnaBoard" resultType="qnaBoardVo">
		select * from qnaboard order by board_id desc
	</select>
	<select id="getOne_qnaBoard" resultType="qnaBoardVo">
		select * from qnaboard where board_id = #{board_id}
	</select>
	<select id="getDetail_qnaBoard" resultType="qnaBoardVo">
		select * from qnaboard where b_ref = #{board_id}
	</select>
	<select id="getNextId_qnaBoard" resultType="java.lang.Integer">
		select nvl(max(board_id),0)+1 from qnaboard
	</select>
	<insert id="insert_qnaBoard">
		<if test="product_id == 0">
			insert into qnaboard values(#{board_id}, #{post_type}, #{title}, #{member_id}, null, sysdate, #{content}, #{b_ref}, #{b_level})
		</if>
		<if test="product_id != 0">
		insert into qnaboard values(#{board_id}, #{post_type}, #{title}, #{member_id}, #{product_id}, sysdate, #{content}, #{b_ref}, #{b_level})
		</if>
	</insert>
	<update id="update_qnaBoard">
		update qnaBoard set title=#{title}, content=#{content} where board_id=#{board_id}
	</update>
	<update id="updateParents_qnaBoard">
		update qnaBoard set b_level=1 where board_id=#{board_id}
	</update>
	<delete id="delete_qnaBoard">
  		delete qnaBoard where board_id = #{board_id}
	</delete>
	<update id="hidden_qnaBoard">
		update qnaBoard set b_level=3 where board_id=#{board_id}
	</update>
</mapper>